.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.header {
    background-color: deeppink;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.text {
    color: #61ff21;
    background-color: lightslategrey;
    font-family: "Times New Roman";
    width: 400px;
    text-align: center;
    box-shadow: 4px 4px 5px white;
    margin: 10px;

}

h3 {
    color: black;
}

.my-element {
    display: inline-block;
    margin: 0 0.5rem;

    animation: zoomInDown; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1.5s; /* don't forget to set a duration! */
}

img {
    width:  380px;
    height: 300px;
    margin: 10px;
    transition: all 1s;
}

img:hover{
    transform: scale(1.1);
}

.button {
    text-decoration-color: white;
    color: white;
    font-size: 30px;
}

.text2 {
    color: #61ff21;
    width: 400px;
    text-align: center;
    margin-left: 700px;
}

.my-element2 {
    display: inline-block;
    margin: 0 0.5rem;
    animation: lightSpeedInRight infinite; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 3s /* don't forget to set a duration! */
}

.my-element3 {
    display: inline-block;
    margin: 0 0.5rem;

    animation: heartBeat infinite; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1.5s; /* don't forget to set a duration! */
    font-size: 50px;
}

footer {
    clear: both;
}